table{
  border: 1px solid  gray;
}

td{
  border: 1px solid  gray;
}

.main_table {
	width:100%;
	table-layout:fixed;
}
.main_table th ,.main_table td {
	font-size:0.7em;
}
.main_table td img {
	width:100%;
}

.field {
  padding-top: 50px;
  padding-left: 350px;
}

img.sized {
  max-width:100%;
  height: auto;
}
